/*  your css code here. If applicable */
h1, h2, h3{
	text-align: center	
}
li{
	list-style-type: none;
}
a{
	text-decoration-line: none;
}
body{
	background-color: rgb(204, 204, 204);
}
ul{
	border: 2px solid black;
	background: white;
	border-radius: 10px;
	padding: 20px;
}
.player_one {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 12px;
    width: 320px;
  }
  .player_two {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 20px;
    width: 320px;
  }